{% extends 'AppBundle::index.html.twig' %}
{% form_theme form 'AppBundle::forms/input.html.twig' %}

{% block title %}
    Add new post
{% endblock %}

{% block content %}
    <div class="u-letter-box--medium">
        {{ form_start(form, {attr: {"novalidate": "novalidate"}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_widget(form.submit, { 'label': 'Click me' }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}