{% extends 'AppBundle::index.html.twig' %}
{% form_theme form.title 'AppBundle::forms/input.html.twig' %}
{% form_theme form.description 'AppBundle::forms/area.html.twig' %}

{% block title %}
    Add new post
{% endblock %}

{% block content %}
    <hr>
    {{ form_start(form, {attr: {"novalidate": "novalidate"}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <div class="form_row">
    {{ form_widget(form.submit, { 'label': 'Click me' }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}