{% extends 'AppBundle::index.html.twig' %}

{% block title %}
    {{ parent() }} / Posts
{% endblock %}

{% block heading %}
    Posts
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="u-letter-box--medium">
            <h2 class="c-heading c-heading--medium u-letter-box--tiny">
                <a class="c-link" href="{{ path('post', {id: post.id}) }}">{{ post.title }}</a><br>
            </h2>
            <div class="c-text--quiet">{{ post.dateCreated|date("d F Y") }}</div>
            <p class="c-paragraph">{{ post.description }}</p>
        </article>
    {% else %}
        <p class="c-paragraph">No posts added. <a href="{{ path('post_create') }}">Add new post</a></p>
    {% endfor %}
{% endblock %}