{% extends 'AppBundle::index.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    This is post # {{ post.id }} with title {{ post.title }}
    <ul>
        <li><a href="{{ path('post_edit', {id: post.id}) }}">Edit Post</a></li>
        <li>
            {{ form_start(deleteForm) }}
            {{ form_widget(deleteForm.submit) }}
            {{ form_end(deleteForm) }}
        </li>
    </ul>
{% endblock %}