{% extends 'AppBundle::index.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('msg') %}
        <div>{{ flashMessage }}</div>
    {% endfor %}
    This is post # {{ post.id }} with title {{ post.title }}
    <p><a href="{{ path('post_edit', {id: post.id}) }}">Edit Post</a></p>
{% endblock %}