<h1>Book #{{ book.id }} - {{ book.title }}</h1>
<ul>
    <li><a href="{{ path('book') }}">BookManager</a></li>
    <li><a href="{{ path('book_new') }}">Create new book</a></li>
    <li><a href="{{ path('book_edit', { 'id': book.id }) }}">Edit book</a></li>
</ul>
<hr>
<h3>Pages: {{ book.pages }}</h3>
<p><strong>Description</strong><br>{{ book.description }}</p>
